services:
  postgres_diving_timer:
    image: postgres:${POSTGRES_VERSION}
    container_name: postgres_diving_timer
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  django_diving_timer:
    build: .
    container_name: django_diving_timer
    command: python "./diving_timer/manage.py" runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: postgres_diving_timer
      DB_PORT: ${DB_PORT}
    depends_on:
      postgres_diving_timer:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres_data:
